doctype html
html
  head
    title Angular Example
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js")
    script(src="/javascripts/scripts.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-app="myApp")
    h1 Angular Example
    p Welcome to Angular_Example

    a(ng-href="#/") Channels List
    a(ng-href="#/wishlist") Wish List
    div(ng-view)
